# Dependency directories
node_modules

# dotenv environment variable files
.env

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
*.log

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

dist