.tab-header-container {
    width: 150px;
    height: 70px;
}
.container {
    width: auto;
}
.header {
    text-align: center;
}
#profile-button {
    width: 150px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border-left: solid 2px;
    padding: 10px;
    margin-top: 10px;
}
.navbar{

    background-color: rgb(235, 231, 231);
    height: 85px;
    width: 1250px;
    #editprofile-button {
        margin-left: 53rem;
        text-decoration: none;
        color: black;
        font-size: 25px;
        border: none;
        margin-top: 20px;
        background-color: rgb(235, 231, 231);;
    }
    #logout-button{
        margin-left: 53rem;
        text-decoration: none;
        color: black;
        font-size: 25px;
        background-color:rgb(235, 231, 231);;
        border: none;   
    }
   
}
.card {
    width: auto;
    height: auto;

    .aboutme-card {
        margin: auto;
    }
}

// .card-container {
//      display: flex;
//      flex-wrap: wrap;

//   }

.movie-card {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    width: 1100px;
    height: 2650px;

    margin: '0.5rem';
    margin-left: 160px;
}

.card-content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: rgb(12, 8, 8);
    font-family: 'Times New Roman', Times, serif;

    .work-experience-header{
        display: flex;
    }
    .education-details-header{
        display: flex;
    }
    .dependant-details-header{
        display: flex;
    }

    .admin-card {
        table {
            .table-heading {
                .heading-content {
                    font-weight: bolder;
                }
            }
            padding: 5px;

            td,
            tr {
                padding: 15px;
            }
        }
    }

    h2 {
        // text-align: left;
        margin-left: 10px;
        color: #2b0933;
    }

    #last-name {
        margin-left: 800px;
        margin-top: -90px;
    }

    #last-namelabel {
        margin-left: 630px;
        margin-top: -90px;
    }

    #email-address {
        margin-left: 800px;
        margin-top: -30px;
    }

    #email-address-label {
        margin-left: 630px;
        margin-top: -30px;
    }

    #aboutme {
        margin-left: 800px;
        margin-top: -90px;
    }

    #aboutmelabel {
        margin-left: 630px;
        margin-top: -90px;
    }

    #aadhar {
        margin-left: 800px;
        margin-top: -90px;
    }

    #aadhar-label {
        margin-left: 630px;
        margin-top: -90px;
    }

    #location {
        margin-left: 800px;
        margin-top: -300px;
    }

    #locationlabel {
        margin-left: 630px;
        margin-top: -300px;
    }

    #sourceofhire {
        margin-left: 800px;
        margin-top: -240px;
    }

    #sourcelabel {
        margin-left: 630px;
        margin-top: -240px;
    }

    #designation {
        margin-left: 800px;
        margin-top: -180px;
    }

    #designationlabel {
        margin-left: 630px;
        margin-top: -180px;
    }

    #dateofjoining {
        margin-left: 800px;
        margin-top: -120px;
    }

    #dateofjoininglabel {
        margin-left: 630px;
        margin-top: -120px;
    }

    #addedtime {
        margin-left: 800px;
        margin-top: -90px;
    }

    #addedtimelabel {
        margin-left: 640px;
        margin-top: -90px;
    }

    #modifiedtime {
        margin-left: 800px;
        margin-top: -30px;
    }

    #modifiedtimelabel {
        margin-left: 630px;
        margin-top: -30px;
    }

    #address {
        margin-left: 800px;
        margin-top: -125px;
    }

    #address-label {
        margin-left: 630px;
        margin-top: -125px;
    }

    #personalemailaddress {
        margin-left: 800px;
        margin-top: -50px;
    }

    #personalemailaddress-label {
        margin-left: 630px;
        margin-top: -50px;
    }

    #jobtitle {
        width: 200px;
    }

    #fromdate {
        width: 100px;
    }

    #todate {
        width: 100px;
    }

    label {
        display: flex;
        float: left;
        clear: left;
        font-size: large;
        // width: 110px;
        //text-align: right;
        padding: 5px;
        margin-top: 30px;
        margin-left: 35px;
    }
    input {
        //   display: inline-block;
        float: left;
        margin-top: 30px;
        margin-left: 50px;
        width: 300px;
        height: 25px;
        border: none;
        //   border-bottom: 2px solid rgb(205 184 184);
        border-radius: 10px;
    }

    .work-experience-item {
        display: flex;
    
    
        input{
            width: 10px;
        }
    
    }
}

.additional-text {
    color: rgb(10, 4, 4);
    font-size: 14px;
}

.user-details {
    font-family: 'Times New Roman', Times, serif;

    // height: 38em;
    // width: 270em;
    margin: auto;
    background-color: rgb(250, 246, 246);
    // text-align: center;
    display: flex;
}

.education-details-item {
    display: flex;
}
.dependant-details-item {
    display: flex;
}
#profile-form {
    // height:auto;
    h2 {
        // text-align: left;
        margin-left: 10px;
        color: #2b0933;
    }

    button {
        text-align: center;
        width: 100px;
    }

    .button-container {
        display: flex;
        // position: fixed;
        // bottom: -10px;
        // right: 1100px;
    }
    #submit-button {
        background-color: rgb(129, 59, 194);
        color: white;
        // float: left;
        // clear: left;
        text-align: center;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
        height: 35px;
    }
    #cancel-button {
        background-color: rgb(129, 59, 194);
        color: white;
        // float: left;
        // clear: left;
        // text-align: center;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #remove-button {
        width: 30px;
        border-radius: 20px;
        height: 30px;
        margin-top: 10px;
    }

    #add-button {
        width: 30px;
        border-radius: 20px;
        margin-left: 1270px;
    }

    // .work-experience-header{
    //     // display: flex;
    // }

    #company-name {
        margin-left: 50px;
    }

    #job-title {
        margin-left: 230px;
    }

    #from-date {
        margin-left: 140px;
    }

    #to-date {
        margin-left: 30px;
    }

    #job-description {
        margin-left: 30px;
    }

    #dateofcompletion {
        width: 200px;
    }
    
.education-details-item{
    justify-content: space-around;
}

}
