html {
  background-color: white;
  text-align: center;

  .container {
    text-align: center;
    height: 50em;
    width: 50em;
    margin: auto;
  }

  form {
    border: 2px solid rgb(250, 246, 246);
    border-radius: 10px;
    background-color: rgb(250, 246, 246);
    box-shadow: 5px 5px 5px 5px grey;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;

    #forgotpass {
      margin-top: 50px;
      width: 325px;
      border-radius: 5px;
      border-color: white;
      border: none;
      padding: 10px;
    }

    #submit-pass {
      margin-bottom: 50px;
      margin-top: 50px;
      background-color: rgb(129, 59, 194);
      color: white;
      border-radius: 5px;
      width: 30%;
      border: none;
      padding: 10px;
    }

    #username {
      margin-bottom: 20px;
      margin-top: 50px;
      border-radius: 5px;
      border-color: white;
      border: none;
      padding: 10px;
    }

    #password {
      margin-bottom: 20px;
      border-radius: 5px;
      border-color: rgb(252, 245, 245);
      border: none;
      padding: 10px;
    }

    #forgotpassword {
      font-size: small;
      color: rgb(129, 59, 194);
      position: absolute;
    }

    #submit {
      margin-bottom: 30px;
      margin-top: 30px;
      background-color: rgb(129, 59, 194);
      color: white;
      border-radius: 5px;
      width: 20rem;
      border: none;
    }

    #resetpass1 {
      margin-top: 50px;
      border-radius: 5px;
      border-color: white;
      border: none;
      padding: 10px;
    }

    #resetpass2 {
      margin-top: 30px;
      margin-bottom: 50px;
      border-radius: 5px;
      border-color: white;
      border: none;
      padding: 10px;
    }

    #reset-button {
      background-color: rgb(129, 59, 194);
      color: white;
      border-radius: 5px;
      width: 30%;
      margin-bottom: 50px;
      border: none;
      padding: 10px;
    }

    .sign-up {
      margin-top: 30px;
      font-size: small;

      #signup {
        color: rgb(129, 59, 194);
      }
    }
  }
}